body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    background-color: #fffdfd0e;
    color: rgb(22, 21, 21);
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px;
}
.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
    overflow: hidden;
}

video {
    width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#weather-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
    padding: 8px;
    margin-right: 8px;
}

button {
    padding: 8px;
    cursor: pointer;
}
.navbar {
    z-index: 1;
}